.header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 3;
}

.logo_block {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_block {
    width: 1000px;
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100px;
    margin-left: 100px;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size:25px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item a:hover {
    background-color: #575757;
    color: #fff;
    border-radius: 4px;
}

.logo {
    width: 50px;
    height: 50px;
}

.basket_block {
    position: absolute;
    right: 0;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket_icone {
    font-size: 50px;
    color:#ff7e5f;
}